* {
  user-select: none;
}

html,
body {
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAASFBMVEUAAAD7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/uiAKvrAAAAGHRSTlMATixLlBAvG51CBa8yHaWPIhJ4qH13IUi1PrbwAAAAn0lEQVQoz9VSSQrEMAyrEzf73mX+/9OhA0PtNJBzdYpQELal5R1YTxGCONexKOAw3psDxOCDthkhOhcBs9UPVSb5f8tNdvpqk7qZSpb7qywplVlRWgG5G0IlrDTgMrRCmDCxm9QIwoJ3XHY+0Mm2p8zMu0UjMy97P9peJotNzjI9Ko/kwyPhiBYR9C9QtHFYh3bVoZE6MNRylanU5RX4AuV4BXewV0+ZAAAAAElFTkSuQmCC")
      15 15,
    pointer;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: black;
    transition: .3s all ease;
    background-position: center;
    background-size: cover;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
}

canvas {
    opacity: 1;
}

.loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: white;
    text-align: center;
    display: table;
    user-select: none;
    color: #ffffff;
}

.loader--out {
    -webkit-transition: 1s all ease;
            transition: 1s all ease;
}

.loader__content {
    display: table-cell;
    vertical-align: middle;
}

.loader__title {
    font-family: "Cinzel Decorative", cursive;
    font-size: 2em;
}

.loader__description {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    opacity: 0.5;
}

.note {
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 0;
    text-align: right;
}

.note .smaller {
    font-size: .8em;
}

#gui-note {
    position: absolute;
    bottom: 5px;
    left: 20px;
    text-shadow: 0 0 1px black, 0 0 1px black;
    font-family: arial;
    color: white;
    font-size: 10px; 
}