@import url(https://api.fontshare.com/v2/css?f[]=general-sans@400,600&display=swap);
/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=clike+javascript */
code[class*=language-],pre[class*=language-]{color:#f8f8f2;background:0 0;text-shadow:0 1px rgba(0,0,0,.3);font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto;border-radius:.3em}:not(pre)>code[class*=language-],pre[class*=language-]{background:#272822}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#8292a2}.token.punctuation{color:#f8f8f2}.token.namespace{opacity:.7}.token.constant,.token.deleted,.token.property,.token.symbol,.token.tag{color:#f92672}.token.boolean,.token.number{color:#ae81ff}.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#a6e22e}.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url,.token.variable{color:#f8f8f2}.token.atrule,.token.attr-value,.token.class-name,.token.function{color:#e6db74}.token.keyword{color:#66d9ef}.token.important,.token.regex{color:#fd971f}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}

:root {
    --black: rgb(17, 17, 17);
    --white: rgb(246, 246, 232);
    --grey: #ffffff33;
    --accent: #ffffff;
    --sans: 'General Sans', sans-serif;
    --h1-size: 3rem;
    --h2-size: 2.5rem;
    --h3-size: 2rem;
    --body-size: 1.5rem;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5rem;
}

html,
body {
    height: 100%;
    overscroll-behavior: none;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    background-color: var(--black);
    color: var(--white);
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.main {
    width: 800px;
    margin: 0 auto;
    padding-left: 200px;
    padding-bottom: 100px;
}

@media (max-width: 1024px) {
    .main {
        width: 700px;
        padding: 0 0 100px 160px;
    }
}

@media (max-width: 890px) {
    .main {
        max-width: 700px;
        width: 90%;
        padding: 0 0 100px 0;
    }
}

@media (max-width: 600px) {
    .title {
        text-align: center;
    }
}

.subtitle {
    opacity: .6;
}

.subtitle,
.subtitle span {
    font-size: 1.2rem;
}

.link {
    padding: 10px;
    border-bottom: 1px solid var(--accent);
    margin-left: 20px;
    font-size: var(--body-size);
    display: inline-block;
    margin-bottom: 40px;
}

@media (max-width: 600px) {
    .link {
        margin-bottom: 0;
    }
}

h1,
h2 {
    font-family: var(--sans), sans-serif;
    font-weight: 600;
}

h1 {
    margin: 0;
    margin-right: auto;
    font-size: var(--h1-size);
}

h2 {
    margin-top: 110px;
    font-size: var(--h2-size);
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid var(--accent);
}

h3 {
    margin-top: 1.75em;
    margin-bottom: .7em;
    font-size: var(--h3-size);

    span {
        opacity: .7;
    }
}

p,
li {
    line-height: 1.5;
    font-size: var(--body-size);
    margin-block: 0.6em;
    opacity: .7;
}

a {
    color: var(--white);
    text-decoration: none;
}

.code-button {
    cursor: pointer;
    margin-bottom: 10px;
    font-size: var(--body-size);
    display: inline-block;
    padding: 0 0px 3px 0;
    border-bottom: 1px solid var(--white);
    opacity: .7;
}

.code-button:hover {
    opacity: 1;
}

.code-block {
    margin-bottom: 3em;
    display: grid;
    grid-template-rows: 1fr;
    transition: 0.6s grid-template-rows ease;

    >div {
        overflow: hidden;
    }

    &.hidden {
        grid-template-rows: 0fr;
    }
}

div:has(pre) {
    border-radius: 5px;
}

pre[class*=language-] {
    padding-inline: 30px;
    padding-block: 30px;
    border-radius: 5px;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    pre[class*=language-] {
        padding-inline: 20px;
        padding-block: 3vw;
    }
}

.code-inline {
    font-family: monospace;
    background-color: #333333;
    color: #a6e22e;
    padding: 1px 6px;
    border-radius: 3px;
}

.container {
    --bg: #161616;
    /*#1b1b1b*/
    border: 1px solid var(--col);
    background-color: var(--bg);
    transition: .3s all ease;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    height: 400px;
    width: 100%;
    margin: 20px auto 20px auto;
    border-radius: 5px;

    --dot: #222222;
    --alt: #333333;
    --gap: 10px;
    --r: 1px;

    background-color: var(--bg);

    background-image:
        /* intersection pattern (5×5 grid) */
        radial-gradient(circle at var(--r) var(--r), var(--alt) var(--r), transparent calc(var(--r) + 0.5px)),

        /* base dotted grid */
        radial-gradient(circle at var(--r) var(--r), var(--dot) var(--r), transparent calc(var(--r) + 0.5px));

    background-size:
        calc(var(--gap) * 5) calc(var(--gap) * 5),
        /* intersections */
        var(--gap) var(--gap);
    /* base grid */
    background-repeat: repeat;
}

#container-1 {
    height: 470px;
    display: flex;
    align-items: flex-end;
}

@media (max-width: 768px) {
    #container-1 {
        height: 600px;
    }
}

.container--small {
    height: 200px;
}

.element {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--accent);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: .1s transform ease, .3s border-radius ease;
    border-radius: 3px;
}

.element.left {
    left: calc((50% - 145px) - 50px);
    right: 0px;
    margin: auto 0px;
}

.element.round {
    border-radius: 50%;
}

.note {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-family: arial;
    color: var(--black);
    font-size: 1rem;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 65px;
}

@media (max-width: 600px) {
    .header {
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: column;


    }

    #p-gui-0 {
        left: 50% !important;
        transform: translate(-50%, 0) !important;
    }
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid var(--grey);
    height: 100%;
    background-color: #1b1b1b;
    width: 20%;
    padding: 60px 2% 40px 5%;
    z-index: 1;
    overflow: auto;
    box-sizing: border-box;
}

.sidebar__logo {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--grey);
    padding-bottom: 4rem;

    & img {
        display: inline-block;
    }

    & span {
        font-size: 1.8rem;
        font-weight: 700;
        margin-left: 10px;
    }
}

.sidebar__item,
.sidebar__title {
    opacity: .8;
    display: block;
    font-size: var(--body-size);
    margin-bottom: 4px;
    padding: 8px 14px;
    border-radius: 5px;

    &:last-of-type {
        margin-bottom: 4rem;
    }

    &:hover {
        opacity: 1;
        background-color: rgba(255, 255, 255, .1);
    }
}

.sidebar__title {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
}

@media (max-width: 1200px) {
    .sidebar {
        width: 200px;
        padding-inline: 20px;
    }
}

@media (max-width: 1100px) {
    .sidebar {
        width: 190px;
    }
}

@media (max-width: 1024px) {
    .sidebar {
        width: 160px;
        padding: 60px 15px 40px 15px;
    }
}

@media (max-width: 890px) {
    .sidebar {
        display: none;
    }
}
table {
    width: 100%;
    font-size: 1.4rem;
    color: var(--white);
}

th {
    border-bottom: 1px solid var(--grey);
}

th, td {
    text-align: left;
    border-right: 1px solid var(--grey);
    padding: 1rem;
    line-height: 1.5;
}

th:last-of-type,
td:last-of-type {
    border-right: none;
}
.custom-scrollbar::-webkit-scrollbar,
.custom-scrollbar *::-webkit-scrollbar {
    width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track,
.custom-scrollbar *::-webkit-scrollbar-track {
    background: var(--black);
}

.custom-scrollbar::-webkit-scrollbar-thumb,
.custom-scrollbar *::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: 50px;
    box-sizing: border-box;
    border: 3px solid var(--black);
}

/* Firefox */
@-moz-document url-prefix() {
    .custom-scrollbar {
        scrollbar-color: var(--grey) var(--black);
    }
}
