.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 65px;
}

@media (max-width: 600px) {
    .header {
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: column;


    }

    #p-gui-0 {
        left: 50% !important;
        transform: translate(-50%, 0) !important;
    }
}