.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid var(--grey);
    height: 100%;
    background-color: #1b1b1b;
    width: 20%;
    padding: 60px 2% 40px 5%;
    z-index: 1;
    overflow: auto;
    box-sizing: border-box;
}

.sidebar__logo {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--grey);
    padding-bottom: 4rem;

    & img {
        display: inline-block;
    }

    & span {
        font-size: 1.8rem;
        font-weight: 700;
        margin-left: 10px;
    }
}

.sidebar__item,
.sidebar__title {
    opacity: .8;
    display: block;
    font-size: var(--body-size);
    margin-bottom: 4px;
    padding: 8px 14px;
    border-radius: 5px;

    &:last-of-type {
        margin-bottom: 4rem;
    }

    &:hover {
        opacity: 1;
        background-color: rgba(255, 255, 255, .1);
    }
}

.sidebar__title {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
}

@media (max-width: 1200px) {
    .sidebar {
        width: 200px;
        padding-inline: 20px;
    }
}

@media (max-width: 1100px) {
    .sidebar {
        width: 190px;
    }
}

@media (max-width: 1024px) {
    .sidebar {
        width: 160px;
        padding: 60px 15px 40px 15px;
    }
}

@media (max-width: 890px) {
    .sidebar {
        display: none;
    }
}