/* Vendor */
@import '~normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Mukta', sans-serif;
}

body {
    background: #eee;
    overflow: hidden;
}

.header {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    &__logo {
        color: white;
        font-size: 2em;
    }
}

.wrapper {
    padding: 50px;
    box-sizing: border-box;
    margin-top: 50px;
}

.button {
    background: #29a51c;
    border-radius: 5px;
    padding: 5px;
    display: block;
    width: 150px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    margin-bottom: 1em;

    &:hover {
        background-color: #333;
    }
}

#transition {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #29a51c;
}